p{
  color: black;
}

.App {
  text-align: center;
  background-color: #282c34;
}

.pokemon {
  background-color: white;
  padding: 2.5%;
  width: 80px;
  display: inline-block;
  margin: 2.5%;
}

.pokemonUno{
  background-color: white;
  padding: 2.5%;
  left:30%;
  position: absolute;
}

.pokemonDos{
  background-color: white;
  padding: 2.5%;
  left: 45%;
  position: absolute;
}

.pokemonTres{
  background-color: white;
  padding: 2.5%;
  left: 59%;
  position: absolute;
}
